/* CSS for Signup Form */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
  }
  
  .signup-container {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
  }
  
  .image-section {
    flex: 1;
    background-image: url('../assets/main.png'); /* Replace with your image URL */
    background-size: cover;
    background-position: center;
  }
  
  .form-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #fff;
  }
  
.btns{
   
    height: 30px;
    font-size:medium;
    justify-content: end;
    /* position: relative; */
    /* bottom:60px; */
    /* right:-130px; */
} 

#signup{
    background-color: transparent;
    border: none;
    height: 30px;
    
}

#login{
    background-color: #1B48DA;
    border: none;
    border-radius: 5px;
    color:#FFFFFF ;
    height: 30px;
   
}

  h2 {
    margin-bottom: 30px;
    color: #3B3C51;
    margin-left: -231px;
  }
  
  .signup-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
  }
  
  .signup-form input {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #3B3C51;
    border-radius: 5px;
  }
  
  .signup-form button {
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #1B48DA;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
 
  
  p {
    margin-top: 10px;
    font-size: 14px;
    color: #555;
  }
  
  a {
    color: #1B48DA;
    text-decoration: none;
  }
  
  /* a:hover {
    text-decoration: underline;
  } */
  
  @media (max-width: 768px) {
    .signup-container {
      flex-direction: column;
    }
  
    /* .image-section {
      height: 300px;
    } */
  }
  